absl-py==0.9.0
adal==1.2.4
aiohttp==3.6.2
alembic==1.0.6
appnope==0.1.0
asn1crypto==0.24.0
astroid==2.1.0
async-timeout==3.0.1
attrs==19.3.0
backcall==0.2.0
beautifulsoup4==4.9.1
bleach==3.1.0
blinker==1.4
blis==0.7.4
boto3==1.12.23
botocore==1.15.23
CacheControl==0.12.6
cachetools==4.1.1
catalogue==2.0.4
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
cryptography==2.8
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.3
decorator==4.4.2
defusedxml==0.6.0
demjson==2.2.4
docutils==0.15.2
dominate==2.3.5
dump==0.0.5
editdistance==0.5.3
emmental==0.0.7
entrypoints==0.3
enum34==1.1.6
facebook-sdk==3.1.0
feedfinder2==0.0.4
feedparser==5.2.1
filelock==3.0.12
firebase-admin==4.3.0
Flask==1.1.2
flask-appconfig==0.11.1
Flask-Cors==3.0.8
Flask-Dance==3.0.0
Flask-Migrate==2.3.1
flask-nav==0.6
Flask-SQLAlchemy==2.3.2
future==0.18.2
gensim==3.8.1
geographiclib==1.50
geopy==2.0.0
google-api-core==1.23.0
google-api-python-client==1.10.0
google-auth==1.22.1
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.1
google-cloud-core==1.3.0
google-cloud-firestore==1.8.1
google-cloud-speech==2.0.0
google-cloud-storage==1.30.0
google-crc32c==0.1.0
google-resumable-media==0.7.0
googleapis-common-protos==1.52.0
GoogleAppEngineCloudStorageClient==1.9.22.1
gunicorn==19.9.0
h11==0.9.0
httpcore==0.10.2
httplib2==0.18.1
httpx==0.14.1
idna==2.10
imageio==2.8.0
importlib-metadata==1.5.0
inflection==0.3.1
ipykernel==5.1.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
isort==4.3.4
itsdangerous==1.1.0
jedi==0.17.2
jieba3k==0.35.1
Jinja2==2.11.2
jmespath==0.9.5
joblib==0.14.1
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-core==4.6.3
jusText==2.2.0
kiwisolver==1.1.0
lazy-object-proxy==1.3.1
libcst==0.3.13
libsass==0.19.1
lxml==4.5.0
Mako==1.0.7
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.0
mccabe==0.6.1
mistune==0.8.4
msgpack==1.0.0
msrest==0.6.18
msrestazure==0.6.4
multidict==4.7.6
munkres==1.1.2
murmurhash==1.0.2
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.3
newspaper3k==0.2.8
nltk==3.5
notebook==6.0.3
oauthlib==3.0.1
packaging==20.4
pandas==0.25.3
pandocfilters==1.4.2
parso==0.7.1
pathy==0.5.2
patsy==0.5.1
pexpect==4.8.0
pgeocode==0.2.1
pickleshare==0.7.5
plac==0.9.6
preshed==3.0.5
prometheus-client==0.7.1
prompt-toolkit==3.0.7
proto-plus==1.11.0
protobuf==3.12.4
psutil==5.7.2
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.20
pydantic==1.7.4
Pygments==2.6.1
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyrsistent==0.15.7
PySocks==1.6.8
python-dateutil==2.8.1
python-editor==1.0.3
python-http-client==3.1.0
python-Levenshtein==0.12.0
pytrends==4.7.2
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==18.1.1
redis==3.2.1
regex==2020.7.14
requests==2.24.0
requests-file==1.5.1
requests-oauthlib==1.2.0
rfc3986==1.4.0
rsa==4.6
ruamel-yaml==0.15.87
s3transfer==0.3.3
sacremoses==0.0.43
Send2Trash==1.5.0
sendgrid==6.0.4
sentry-sdk==0.8.0
silo==0.2
simplegeneric==0.8.1
six==1.15.0
smart-open==3.0.0
sniffio==1.1.0
snorkel==0.9.5
soupsieve==2.0.1
spacy==3.0.6
spacy-legacy==3.0.6
SQLAlchemy==1.3.18
srsly==2.4.1
stripe==2.55.1
terminado==0.8.3
testpath==0.4.4
thinc==8.0.5
timezonefinder==4.4.1
tinysegmenter==0.3
tokenizers==0.8.1rc1
tornado==6.0.3
tqdm==4.42.1
traitlets==5.0.4
treedlib==0.1.3
twilio==6.23.1
typer==0.3.2
typing-extensions==3.7.4.3
typing-inspect==0.6.0
uritemplate==3.0.1
urllib3==1.25.10
URLObject==2.4.3
virtualenv==16.3.0
visitor==0.1.3
Wand==0.5.9
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.11.1
yarl==1.5.1
zipp==2.2.0
