@import url("https://fonts.googleapis.com/css?family=Oxygen");
@import url("https://fonts.googleapis.com/css?family=Cormorant");

.titlename {
  margin-top: 0px;
  margin-bottom: 100px;
  font-family: "Open Sans", sans-serif;
  line-height: 58px;
  font-weight: 600;
  text-align: center;
}

.body {
}


/* Doesn't text wrap by default */
pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}


/*
For the ProviderArea styles.

*/




.hidden {
  display: none;
}

.pointery {
  cursor: pointer;
}

